<% provide(:title, "Home") %>
<div id="content" class="interior">
  <a id="content" href="#content" class="sr-only">Content starts here.</a>

  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="active"><h2>Service And Facility Locator</h2></li>
        </ul>
      </div>
    </div>
  </div>
  
  <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />

  
   <div class="section one mapcontainer">
           <div id="disclaimer-modal" class="reveal-modal tiny primary" data-reveal data-options="close_on_background_click:false; close_on_esc: false; multiple_opened:true;">
             <div class="disclaimer-text">

             <h3>This Application is a Prototype</h3>
             <p>The data used in this prototype is sample data and does not provide an accurate description of the facilities and services provided by each facility.</p>

<p>This prototype is semi-functional. We have used a sample set of data provided by Dat Tran to demonstrate the features enabled by the data to meet Dat's Minimum Viable Product specification.</p>

<p>This prototype is not intended to be a stand alone application. If you are getting a link to this, please know that the functionality is not stable. If you got here via a link we sent to you, that means we like you and we trust you :-)!!</p>
             <a class="close-reveal-modal btn btn-sm btn-tab" aria-label="Close">Accept and Close</a>
    </div>
    </div>
      <div id="index-modal" class="reveal-modal tiny primary" data-reveal data-options="close_on_background_click:false; close_on_esc: false;">

        <div class="small-10 small-centered column text-center">
          <h3>Find a VA Facility</h3>
          <p>Search for facilities near you or for a specific service or benefit.</p>

        <div class="text-input nowrap">
           <input id="search_location" type="text" placeholder="Enter Street, City, State or Zip">
        </div>  
        <select id="administration_selection">
          <option disabled selected>Select Service Type</option>
          <option value="Health">Health</option>
          <option value="Benefits">Benefits</option>
          <option value="Cemeteries">Cemeteries</option>
        </select>
        <br>
        <select id="service_level_1_selection">
          <option value="All" selected>All</option>
          </select>
        <select multiple id="service_level_2_selection" class="service-multi">
          <option value="All" selected>All</option>
        </select>

        <button type="button" id="search" class="btn btn-sm btn-tab">Search</button>
    </div>
     
    </div>
    <style>
      body { margin:0; padding:0; }
      #map { height:700px; width:100%; }
    </style>
    <div id='map'></div>
     
  </div>
</div>

