<% provide(:title, "Home") %>
<div id="content" class="interior">
  <a id="content" href="#content" class="sr-only">Content starts here.</a>

  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="active"><h2>Service And Facility Locator</h2></li>
        </ul>
      </div>
    </div>
  </div>
</div>

  <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.css' type='text/css' />
  
  
  
   <div class="section one mapcontainer">
     
      <div class="medium-9 column nopad-left-right">

        <div  id="choice-act-toggle" class="choice-toggle">
          <table>
          <tr>
            <td class="choice-checkbox">
            <input id="choice-providers" type="checkbox" name="choice-act" value="choice">
            </td>
          
          <td class="choice-label">
            <label id="choice-act-label" for="choice-act">Show Choice Act Providers</label>
          </td>
            </tr>
            </table>
        </div>
        
      <div id='map'></div>

     </div>

     <div class="medium-3 column">
       
       <div class="search-info"><!---Start Search Information -->
          <div class="text-input nowrap">
           <input id="search_location" type="text" placeholder="This should be the searched address"></div>
         <div class="breadcrumb-buttons">
            <button class="usa-button-outline active-crumb">Health&nbsp;x</button>
            <button class="usa-button-outline active-crumb">Service 1&nbsp;x</button>
            <button class="usa-button-outline active-crumb">Service 2&nbsp;x</button>
<button class="top-off-canvas-toggle usa-button active-crumb">Refine Results</button>
           </div>
          
       </div><!---End Search Information -->
       
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    
       <!---Start Facilities List -->
       <div class="facilities-list">
        <ul id="facilitiesList" aria-live="polite" aria-relevant="additions removals"></ul>
         </div><!---End Facilities List -->
    <aside class="top-off-canvas-menu refinements-panel">
      
<!--
        <div class="text-input nowrap">
           <input id="search_location" type="text" placeholder="Search for a New Address">
        </div>
-->
        <select id="administration_selection">
          <option value="Health">Health</option>
          <option value="Benefits">Benefits</option>
          <option value="Cemeteries">Cemeteries</option>
        </select> 
        <select id="service_level_1_selection">
          <option value="All Specialties" selected>All Specialties</option>
        </select>
        <select multiple id="service_level_2_selection">
          <option value="All" selected>All</option>
        </select>
        <button type="button" id="search" class="refine-button btn btn-sm btn-tab">Apply Filters</button>
 </aside>  
    
      </div>
</div>
     </div><!-- End left Column -->
     

     
     
     
  </div><!-- End Section One -->