$( document ).ready(function() {  
  // Clear the facilities list
    $("#facilitiesList").html("");
  $('#services_selection').hide();
  
  L.mapbox.accessToken = 'pk.eyJ1IjoiYXlhbGVsb2VociIsImEiOiJjaWtmdnA1MHAwMDN4dHdtMnBqbGR3djJxIn0.fuqVOKCu8mE-9IdxTa4R8g';
  var map = L.mapbox.map('map', 'mapbox.streets')
        .setView([40, -74.50], 5);
  map.scrollWheelZoom.disable();
  
  // Get user location from HTML5 location API if available
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(recenter, function() {});
  }
  
  $('#search').on("click", function(){   
    var classification = $('select[id=facilities_selection]').val();
    
    $.ajax({
        url: '/search/show',
        type: 'GET',
        data: {'Classification': classification}, 
        success: function(data){
            plotData(data, map);
        },
        failure: function(data){
            alert(data);
        }
    });
  });
  
  function recenter(position) {
    map.setView({
      lat: position.coords.latitude,
      lng: position.coords.longitude
    });
    map.setZoom(12);
  }
  
  $('#facilities_search').on("click", function(){    
        $('#services_selection').hide();
        $('#facilities_selection').show();
    });
    
  $('#services_search').on("click", function(){
        $('#facilities_selection').hide();
        $('#services_selection').show();
    });
    
    //plot data on the map
    function plotData(data, map){
      //remove points from map
      
      //remove facilities from list
      $("#facilitiesList").html("");
      
     for (var i = 0; i < data.length; i++) {
       if (isNaN(parseFloat(data[i]['Longitude'])) || isNaN(parseFloat(data[i]['Latitude']))) {
         continue;
       }
       
        L.mapbox.featureLayer({
          // this feature is in the GeoJSON format: see geojson.org
          // for the full specification
          type: 'Feature',
          geometry: {
              type: 'Point',
              // coordinates here are in longitude, latitude order because
              // x, y is the standard for GeoJSON and many formats
              coordinates: [ data[i]['Longitude'], data[i]['Latitude']]
          },
          properties: {
            title: data[i]['Location_Descriptive_Name_Common_Name'],
            radius: 6,
            fillColor: 'white',
            color: '#1B384E',
            weight: 2,
            opacity: 1,
            fillOpacity: 1
          }
        }).addTo(map);
        
        
        // also add to the facilities list
        var li = "<li data-sid=" + data[i]['ID']+ ">" +
                      facilityHTML(data[i]) + 
                      "</li>";
        $("#facilitiesList").append(li);
      }
    }    
    
    function facilityHTML(facility) {
    var title = '<span class="facilityTitle">' + facility.Location_Descriptive_Name_Common_Name + '</span>';
    
    return title + "<br>\nPhone Number: " +
      facility.Station_Phone_Number + "<br>\n"
      + '<a class="facilityLink" href="/single_facility/' + facility.ID + '">website</a><br>\n';
  }
});
