$( document ).ready(function() {  
  L.mapbox.accessToken = 'pk.eyJ1IjoiYXlhbGVsb2VociIsImEiOiJjaWtmdnA1MHAwMDN4dHdtMnBqbGR3djJxIn0.fuqVOKCu8mE-9IdxTa4R8g';
  var geocoder = L.mapbox.geocoder('mapbox.places');
  var map = L.mapbox.map('map', 'mapbox.streets')
        .setView([38.8, -95.50], 5);
  map.scrollWheelZoom.disable();

  var parameters = {};
  var URL = window.location.href;
  var markers = [];
  var markerData = [];
  var markers_on_map = false;
  var shown = [];
  var shownIndex = 0; 

  if (URL.includes("administration")) {
    var administration = get_string_from_url(URL, "administration");
    $('#administration_selection').val(administration);
    parameters["administration"] = administration;
    $.ajax({
        url: '/service_types_by_administration',
        type: 'GET',
        data: parameters,
        dataType: "json",
        success: function(data){
            fill_service_level(data, 'service_level_1_selection');
        },
        failure: function(data){
            alert(data);
        }
    });
  }
  if(URL.includes("service_level_1")) {
    var service_level_1 = get_string_from_url(URL, "service_level_1");
    
    $('#service_level_1_selection').show();
    parameters["service_level_1"] = service_level_1;
    $.ajax({
        url: '/service_level_2',
        type: 'GET',
        data: parameters,
        dataType: "json",
        success: function(data){
            fill_service_level(data, 'service_level_2_selection');
        },
        failure: function(data){
            alert(data);
        }
    });
  } 
  if(URL.includes("service_level_2")) {
    var service_level_2 = get_string_from_url(URL, "service_level_2")
    $('#service_level_2_selection').val(service_level_2);
    parameters["service_level_2"] = service_level_2;
  }
  
  
  if (URL.includes("Location=")) {
    search_location.value = URL.substring(URL.indexOf("Location=") + 9, URL.indexOf('&')).replace(/%20/g, ' ');
    geocoder.query(search_location.value, showMap);
  }
  
  $.ajax({
      url: '/search/show',
      type: 'GET',
      data: parameters,
      dataType: "json",
      success: function(data){
          plotData(data, map);
      },
      failure: function(data){
          alert(data);
      }
  });
  

  function showMap(err, data) {
    // The geocoder can return an area, like a city, or a
    // point, like an address. Here we handle both cases,
    // by fitting the map bounds to an area or zooming to a point.
    if (data.latlng) {
        map.setView([data.latlng[0], data.latlng[1]], 10);
    }
  } 

  // Clear the facilities list
  $("#facilitiesList").html("");
  
  
  // Get user location from HTML5 location API if available
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(recenter);
  }
  
  function recenter(position) {
    map.setView([
      position.coords.latitude,
      position.coords.longitude
    ],10);
    if(search_location.value == "") {
      geocoder.reverseQuery([position.coords.longitude, position.coords.latitude], fill_location_search_box);
    }
  }
  
  function fill_location_search_box(err, data) {
    search_location.value = data.features[0].place_name
  }
  
  //plot data on the map
  function plotData(data, map){
    //remove points from map
   for (var i = 0; i < data.length; i++) {
     if (isNaN(parseFloat(data[i]['longitude'])) || isNaN(parseFloat(data[i]['latitude']))) {
       continue;
     }
      
    var marker = L.marker(new L.LatLng(data[i]['latitude'], data[i]['longitude']), {
                  title: data[i]['location_descriptive_name_common_name'],
                  radius: 6,
                  fillColor: 'white',
                  color: '#1B384E',
                  weight: 2,
                  opacity: 1,
                  fillOpacity: 1
              });
      var content = '<span class="bubble-title">' + data[i]['location_descriptive_name_common_name'] + 
            '</span>' + '<br>' + data[i]['classification'] + '<br>' + data[i]['station_phone_number'] + '<br>' + '<a class="facilityLink" href="/single_facility/' + data[i]['facility_id'] + '">Facility Details</a>  |  <a href="#">Driving Directions</a><br>\n';
      marker.bindPopup(content);
      marker.addTo(map);
      markers.push(marker);
      markerData.push(data[i]);
    }
    markers_on_map = true;
    update_facility_list();
    
  }
  
  function facilityHTML(facility) {
    var title = '<span class="facilityTitle">' + facility.location_descriptive_name_common_name + '</span>';
    
    return title + '<br>\n<span class="address">' + facility.street_address + "<br>\n" + facility.city + ", " + facility.state + " " + facility.zip_code + '</span><br>\n' +
      facility.station_phone_number + "<br>\n"
      + '<a class="facilityLink" href="/single_facility/' + facility.facility_id + '">Facility Details</a><br>\n';
  }

  map.on('moveend', function() {
    update_facility_list();
  });
  
  function update_facility_list() {
    $("#facilitiesList").html("");
    shown = [];
    shownIndex = 0;
    if (markers_on_map) {
      var bounds = map.getBounds();
      
      var directions_URL_beginning = 'https://api.tiles.mapbox.com/v4/directions/mapbox.driving/';
      var directions_URL_ending = '.json?access_token=' + L.mapbox.accessToken;
          
          
      for(var i = 0; i < markerData.length; i++) {
        if (bounds.contains(markers[i].getLatLng())) {
          var center = map.getCenter();
          var distance;
          shown.push(markerData[i]);
          
          var directionsUrl = directions_URL_beginning + center.lng + ',' + center.lat + ';' +
                markerData[i]['longitude'] + ',' +  markerData[i]['latitude'] + directions_URL_ending;
          $.ajax({
            url: directionsUrl,
            type: 'GET',
            success: function(data) { list_facilities(data); }
          });
        }
      }
    }
  }
  
  function list_facilities(data) {
    distance = meters_to_miles(data.routes[0].distance);
    var li = "<li>" + facilityHTML(shown[shownIndex])  + 
                  '<span class="distance">Driving Distance: ' + distance + " miles</span></li>";
    $("#facilitiesList").append(li);
    shownIndex++;
  }
});

// Convert meters to miles
function meters_to_miles(meters) {
  return round10(meters / 1609.344);
}

function round10(n) {
    return Math.round(n*10) / 10;
  }

function get_string_from_url(URL, substring_to_find) {
  var string_to_return = URL.substring(URL.indexOf(substring_to_find+"=") + substring_to_find.length + 1);
  if(string_to_return.indexOf("&") > -1 ) {
    string_to_return = string_to_return.substring(0, string_to_return.indexOf("&"))
  }
  return string_to_return.replace(/%20/g, ' ');
}