$( document ).ready(function() {  
  L.mapbox.accessToken = 'pk.eyJ1IjoiYXlhbGVsb2VociIsImEiOiJjaWtmdnA1MHAwMDN4dHdtMnBqbGR3djJxIn0.fuqVOKCu8mE-9IdxTa4R8g';
  var geocoder = L.mapbox.geocoder('mapbox.places');
  var map = L.mapbox.map('map', 'mapbox.streets')
        .setView([38.8, -95.50], 5);
  map.scrollWheelZoom.disable();

  var parameters = {};
  var URL = window.location.href;
  
  var markerData = [];
  var markers_on_map = false;
  var shown = [];
  var shownIndex = 0; 
  search_center_lat = -1;
  search_center_lng = -1;
  
  if (URL.includes("Location=")) {
    var location = URL.substring(URL.indexOf("Location=") + 9, URL.indexOf('&')).replace(/%20/g, ' ')
    $('#search_location').val(location);
    geocoder.query(location, showMap);
  } else if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(recenter);
  }

  if (URL.includes("administration")) {
    var administration = get_string_from_url(URL, "administration");
    $('#administration_selection').val(administration);
    parameters["administration"] = administration;
    $.ajax({
        url: '/service_types_by_administration',
        type: 'GET',
        data: parameters,
        dataType: "json",
        success: function(data){
            fill_service_level(data, 'service_level_1_selection');
        },
        failure: function(data){
            alert(data);
        }
    });
  }
  if(URL.includes("service_level_1")) {
    var service_level_1 = get_string_from_url(URL, "service_level_1");
    
    $('#service_level_1_selection').show();
    parameters["service_level_1"] = service_level_1;
    $.ajax({
        url: '/service_level_2',
        type: 'GET',
        data: parameters,
        dataType: "json",
        success: function(data){
            fill_service_level(data, 'service_level_2_selection');
        },
        failure: function(data){
            alert(data);
        }
    });
  } 
  if(URL.includes("service_level_2")) {
    var service_level_2 = get_string_from_url(URL, "service_level_2")
    $('#service_level_2_selection').val(service_level_2);
    parameters["service_level_2"] = service_level_2;
  }
  
  $.ajax({
      url: '/search/show',
      type: 'GET',
      data: parameters,
      dataType: "json",
      success: function(data){
          plotData(data, map);
      },
      failure: function(data){
          alert(data);
      }
  });
  

  function showMap(err, data) {
    // The geocoder can return an area, like a city, or a
    // point, like an address. Here we handle both cases,
    // by fitting the map bounds to an area or zooming to a point.
    if (data.latlng) {
        map.setView([data.latlng[0], data.latlng[1]], 10);
    }
    search_center_lat = data.latlng[0];
    search_center_lng = data.latlng[1];
    
    var geojson = [
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [search_center_lng,search_center_lat]
      },
      "properties": {
        "title": "Your Location",
        "marker-color": "#e31c3d",
        "marker-size": "small",
        "marker-symbol": "star"
      }
    }];
    var myLayer = L.mapbox.featureLayer().setGeoJSON(geojson).addTo(map);
  } 

  // Clear the facilities list
  $("#facilitiesList").html("");
  
  function recenter(position) {
    map.setView([
      position.coords.latitude,
      position.coords.longitude
    ],10);
    if(search_location.value == "") {
      geocoder.reverseQuery([position.coords.longitude, position.coords.latitude], fill_location_search_box);
    }
  }
  
  function fill_location_search_box(err, data) {
    search_location.value = data.features[0].place_name
  }
  
  //plot data on the map
  function plotData(data, map){
    //remove points from map
   for (var i = 0; i < data.length; i++) {
     if (isNaN(parseFloat(data[i]['longitude'])) || isNaN(parseFloat(data[i]['latitude']))) {
       continue;
     }
      
    var marker = L.marker(new L.LatLng(data[i]['latitude'], data[i]['longitude']));
      
    var phone_number = data[i]['station_phone_number'];
    if(phone_number != null && phone_number.charAt(phone_number.length - 1) == 'x') {
      data[i]['station_phone_number'] = phone_number.substring(0, phone_number.length - 1);
    }
              
    var starting_location = "";
    if(search_center_lng == -1 || search_center_lat == -1) {
      if(typeof center !== 'undefined')
        starting_location += center.lat + ',' + center.lng;
    } else {
      starting_location += search_center_lat + ',' + search_center_lng;
    }
                 
    var driving_directions_url = "https://www.google.com/maps/dir/" + starting_location + 
          "/" + data[i]['street_address'] + " ";
    if (data[i]['suite_building_number'] != null) {
      driving_directions_url += data[i]['suite_building_number'] + " ";
    }
    driving_directions_url += data[i]['city'] + " " + data[i]['state'] + " " + data[i]['zip_code'];
    var classification = data[i]['classification'] == undefined ? "" : "<br>" + data[i]['classification'];
    var href_link = URL.substring(0, URL.indexOf('/')) + "/single_facility/" + data[i]['facility_id'];
    
    var content = '<span class="bubble-title">' + data[i]['location_descriptive_name_common_name'] + 
          '</span>' + classification + '<br>' + data[i]['station_phone_number'] + 
          '<br><a class="facilityLink" href="' + href_link + '">Facility Details</a>' +
          '  |  <a target="_blank" href="' + driving_directions_url + '">Driving Directions</a><br>\n';
    
    var geojson = create_marker(data[i], content);
    var myLayer = L.mapbox.featureLayer().setGeoJSON(geojson).addTo(map);
    markerData.push(data[i]);
  }
  markers_on_map = true;
  update_facility_list();
    
}
  
  function create_marker(facility, content) {
    var color = "#2e8540";
    if(facility['classification'] == "VA Medical Center (VAMC)") {
      color = "#0071bc";
    } else if (facility['classification'] == "Residential Care Site (MH RRTP/DRRTP) (Stand-Alone)") {
      color = "#fdb81e";
    } else if (facility['classification'] == "Extended Care Site (Community Living Center) (Stand-Alone)") {
      color = "#fdb81e";
    }
    
//    VBA - #2e8540 "marker-symbol": "town-hall"
//    VAMC - #0071bc "marker-symbol": "hospital"
//    Clinics - #112e51 "marker-symbol": "hospital"
//    Extended care and Community Living - "marker-symbol": "building"
//    
    return [
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [facility['longitude'], facility['latitude']]
      },
      "properties": {
        "title": content,
        "marker-color": color,
        "marker-size": "medium",
        "marker-symbol": "hospital"
      }
    }];
  }
  
  function facilityHTML(facility) {
    if(facility.station_phone_number != undefined) {
      var title = '<span class="facilityTitle">' + facility.location_descriptive_name_common_name + '</span>';
      var classification = facility.classification == undefined ? "" : "<br>" + facility.classification;
      return title + classification + '<br><span class="address">' + facility.street_address + "<br>\n" + facility.city + ", " + facility.state + " " + facility.zip_code + '</span><br>\n' +
        facility.station_phone_number + "<br>\n"
        + '<a class="facilityLink" href="/single_facility/' + facility.facility_id + '">Facility Details</a><br>\n';
    }
  }

  map.on('moveend', function() {
    update_facility_list();
  });
  
  function update_facility_list() {
    if(URL.includes("show")) {
      $("#facilitiesList").html("");
      shown = [];
      shownIndex = 0;
      if (markers_on_map) {
        var bounds = map.getBounds();
        
        var directions_URL_beginning = 'https://api.mapbox.com/v4/directions/mapbox.driving/';
        var directions_URL_ending = '.json?access_token=' + L.mapbox.accessToken;
            
            
        for(var i = 0; i < markerData.length; i++) {
          var lat_lng = L.latLng(markerData[i]['latitude'], markerData[i]['longitude']);
          if (bounds.contains(lat_lng)) {
            var center = map.getCenter();
            shown.push(markerData[i]);
            
            var directionsUrl = directions_URL_beginning;
            if(search_center_lng == -1 || search_center_lat == -1) {
              directionsUrl += center.lng + ',' + center.lat;
            } else {
              directionsUrl += search_center_lng + ',' + search_center_lat;
            }
            directionsUrl += ';' + markerData[i]['longitude'] + ',' +  markerData[i]['latitude'] + directions_URL_ending;
            $.ajax({
              url: directionsUrl,
              type: 'GET',
              success: function(data) { list_facilities(data); }
            });
          }
        }
      }
    }
  }
  
  function list_facilities(data) {
    
    var distance = meters_to_miles(data.routes[0].distance);
    var j = find_min_distance(shown, data.destination.geometry.coordinates[1], data.destination.geometry.coordinates[0])
    var li = "<li data-distance=" + distance + ">" + facilityHTML(shown[j])  + 
                  '<span class="distance">Driving Distance: ' + distance + " miles</span></li>";                     
    shown.splice(j, 1);
    var array = $("#facilitiesList").find("li");

    for(var i = 0; i < array.length; i++) {
      if(distance < parseFloat(array[i].dataset.distance)) {
        break;
      }
    }    
    if (i <= 0) {
      $("#facilitiesList").prepend(li);
    } else if(i >= array.length){
      $("#facilitiesList").append(li);
    } else {
      $('#facilitiesList li:eq(' + i + ')').before(li); 
    }   
  }          
  
  function find_min_distance(shown, lat, lng) {
    var min_index_thus_far = 0;
    var min_lat_difference_thus_far = 
        Math.abs(lat - parseFloat(shown[0]['latitude']));
    var min_lng_difference_thus_far = 
        Math.abs(lng - parseFloat(shown[0]['longitude']));
    var min_total_difference = min_lat_difference_thus_far + min_lng_difference_thus_far;
    for(var i = 1; i < shown.length; i++) {
      tmp_lat_difference = Math.abs(lat - parseFloat(shown[i]['latitude']));
      tmp_lng_difference = Math.abs(lng - parseFloat(shown[i]['longitude']));
      tmp_total_difference = tmp_lat_difference + tmp_lng_difference;
      if(tmp_total_difference < min_total_difference) {
        min_index_thus_far = i;
        min_total_difference = tmp_total_difference;
      }
    }  
    return min_index_thus_far;
  }
  
});

// Convert meters to miles
function meters_to_miles(meters) {
  return round10(meters / 1609.344);
}

function round10(n) {
    return Math.round(n*10) / 10;
}

function get_string_from_url(URL, substring_to_find) {
  var string_to_return = URL.substring(URL.indexOf(substring_to_find+"=") + substring_to_find.length + 1);
  if(string_to_return.indexOf("&") > -1 ) {
    string_to_return = string_to_return.substring(0, string_to_return.indexOf("&"))
  }
  return string_to_return.replace(/%20/g, ' ');
}