<% provide(:title, "Home") %>
<div id="content" class="interior">
  <a id="content" href="#content" class="sr-only">Content starts here.</a>

  <%= render 'layouts/breadcrumbs' %>  
  <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
  
   <div class="section one">
      <div class="primary">


        <div class="small-12 medium-9 columns text-input nowrap">
           <input id="search_location" type="text" placeholder="Search for a location">
        </div>
        
        
        <select id="administration_selection">
          <option disabled selected>Select Service Type</option>
          <option value="Health">Health</option>
          <option value="Benefits">Benefits</option>
          <option value="Cemetaries">Cemetaries</option>
        </select>
        <br>
        
        <select multiple id="service_level_1">
          <option value="All" selected>All</option>
        </select>

        <br>
        <button type="button" id="search" class="btn btn-sm btn-tab" onclick="search()">Search</button>
    </div> 
    <div id='map'></div>
  </div>
</div>

