body, body.home {
  color: $black;
}

#mapcontainer.section.one {
  padding: 0;
}

.facility-details {
  color: $black;
}

table {
  margin: 0;
  padding: .25rem 0;
}

table th,
table td {
  border: 0;
}

.td-hyphen {
  padding: .25rem 1rem .25rem .25rem;
}

.l1-services {
  font-weight: 800;
  font-size: .85rem;
}

.l2-service {
  color: $black;
  font-size: .85rem;
  list-style: none;
}

.services-ul {
  margin-bottom: 0;
}

.service-block {
  margin-bottom: .5rem;
}

.reveal-modal {
  top: 150px !important;
  position: fixed;
}
