$black: #000000;
$white: #FFF;
$va-primary-color: #003F72;
$va-secondary-color: #0083BE;
$va-tertiary-color: #444;
$va-highlight-color: #4FCEFF;
$va-body-content-color: #222;
$va-body-header-color: #000444;
$va-body-accent-color: #FAC922;
$va-body-background-color: #fff;
$va-start-color: #008674;
$va-alert-color: #741B30;
$va-gray-lightest: #F1F1F1;

