$off-canvas-width: rem-calc(600);

@media only screen and (max-width: 40em){
.reveal-modal {
    min-height: 50vh;
}
}
body {
  color: $black;
  margin:0; 
  padding:0;
}
#map { 
  height:700px; 
  width:100%;
  @media(max-width: $small-screen) {
    height:300px;
  }
}

.section.one {
  padding: 0;
}

.nopad-left-right {
  padding: 0 0 2rem 0;
}

.facility-details {
  color: $black;
}

.facility-detail-label {
  width: 50%;
  line-height: 1.6;
  border: 0;
  padding: 0;
}

table {
  margin: 0;
  padding: .25rem 0;
}

table tr,
table td {
  border: 0;
  padding: 0;
}

.td-hyphen {
  padding: .25rem 1rem .25rem .25rem;
}

.l1-services {
  font-weight: 800;
  font-size: .85rem;
}

.l2-service {
  color: $black;
  font-size: .85rem;
  list-style: none;
}

.services-ul {
  margin-bottom: 0;
}

.service-block {
  margin-bottom: .5rem;
}

.reveal-modal {
  top: 150px !important;
  position: fixed;
  padding: 0;
  z-index: 9999;
  @media(max-width: $small-screen) {
    top: 20px !important;
    left: 20px;
    width: 280px;
//    height: 380px;
  }
}

.text-center {
  text-align: center;
}

.hours_note {
  padding: 1rem 0;
}

.search-info {
  padding: 1rem;
  height: 110px;
}

.breadcrumb-buttons {
  .button,
  button {
    padding: .25rem;
  }
}

.active-crumb {
  padding: .1;
  font-size: .60rem;
  max-width: 75px;
}

.top-off-canvas-menu {
  width: 80%;
}

.refinements-panel {
  background-color: $white;
  margin-left: 1rem;
}

.facilities-list {
  height: 100%;
  min-height: 450px;
  max-height: 590px;
  overflow-y: scroll;
  background-color: $white;
  li {
    list-style: none;
    margin-bottom: .75rem;
    padding-bottom: .75rem;
    border-bottom-style: solid;
    border-bottom-color: $color-gray-lightest;
    border-bottom-width: 1px;
  }
}

.facilityTitle {
  font-weight: 700;
}

.choice-toggle {
  position: absolute;
  width: 300px;
  top: 15px;
  right: 15px;
  z-index: 99999999999;
  background: rgba($white, 0.85);
  padding: .5rem;
  display:inline-block;
  table tr td {
    padding: 0 .25rem !important;
  }
}

.choice-checkbox{
  vertical-align: top;
}

.choice-label{
  float: left;
  max-width: 100%;
}

input[type="checkbox"]{
  margin: 0 0 0 0 !important;
}

.search-results-list {
  list-style: none;
}

.refine-button {
  padding: .25rem;
  font-size: 1rem;
  margin-top: 0;
}

.bubble-title {
  font-size: 1rem;
  color: $color-primary-darkest;
  font-weight: 700;
}

.address {
  font-size: .85rem;
  line-height: 1rem;
}

.distance {
  font-size: .85rem;
}

.facility-name {
    @media(max-width: $small-screen) {
      font-size: 1.75rem;
  }
}

.column1 {
  @include grid-column($pull:4);
  @media(max-width: $small-screen) {
    @include grid-column($pull:0);
  }
}
.details-map {
  padding-bottom: 1rem;
  @include grid-column($push:8);
    @media(max-width: $small-screen) {
    @include grid-column($push:0);
  }
}

.tabs {
    width:100%;
    display:inline-block;
  ul{
    margin-left: 0 !important;
    margin-bottom: 1rem !important;
  }
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
        border-bottom: 1px solid $color-gray-lightest;
    }
 
    .tab-links li {
        float:left;
        list-style:none;
       &:first-child{
        margin-left: .5rem;
      }
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            background: $color-gray-lightest;
            transition:all linear 0.15s;
          border: 1px solid $color-gray-lightest;
        }
 
        .tab-links a:hover {
            background: $color-gray-lightest;
            text-decoration:none;
          border: 1px solid $color-gray-lightest;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:$color-gray-dark;
        border: 1px solid $color-gray-lightest;
    }
 
    /*----- Content of Tabs -----*/

.tab-content{
  ul{
        margin-left: 1rem !important;
  }
}
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }