<div class="splash">
  <div class="row">
    <div class="small-12 columns">
      <ul class="breadcrumbs" role="menubar" aria-label="Primary">
        <li class="active"><h2>Service And Facility Locator</h2></li>
      </ul>
    </div>
  </div>
</div>